<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>This site is created by Sahil Ardeshna. It uses data from mapbox.com and darksky.net!</p><br>

        <img class="portrait" src="/img/me.rotated.jpg">
    </div>

    
    {{>footer}}
</body>

</html>